// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;

// ----------------------------------------------------------------------------
// Widget-clock styles
// ----------------------------------------------------------------------------
.widget-clock {

  background-color: $background-color;

  h2 {
  	font-size: 96px;
  	margin-top: -30px;
  }

  small {
  	font-size: 44px;
  	position: absolute;
  	text-align: center;
  	left: 41%;
  	top: 65%;
  }
}
