<script type='text/javascript'>
$(function() {
  Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":3,"size_y":1},{"col":6,"row":3,"size_x":1,"size_y":1},{"col":5,"row":1,"size_x":1,"size_y":1},{"col":3,"row":2,"size_x":2,"size_y":1},{"col":2,"row":2,"size_x":1,"size_y":1},{"col":3,"row":3,"size_x":1,"size_y":1},{"col":2,"row":3,"size_x":1,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":2},{"col":6,"row":1,"size_x":1,"size_y":2},{"col":5,"row":2,"size_x":1,"size_y":1},{"col":4,"row":3,"size_x":2,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1}]')
});
</script>    
<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.widget_base_dimensions = [307, 346]
  Dashing.numColumns = 6
});
</script>  
<% content_for :title do %>Glorious 1080p PPPL Dashboard<% end %>
<div class="gridster teneightyp">
  <ul>
    <li class="lead" data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="lead" data-view="Text" data-title="At a Glance:<br>PPPL Communications" data-text="An real-time outlook of vital numbers, recent news, and   most importantly, the time and date." style="background-color:#ff9618"></div>
      <img class="icon-background" src="/logo.png">
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="time" data-view="Clock" data-title="Time" style="background-color:#7f8c8d;"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#2c3e50;" data-moreinfo="Tweets mentioning PPPL"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_profile" data-view="Comments" style="background-color:#c0392b;" data-moreinfo="Tweets from @pppl"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="indexed_pages" data-view="Number" data-title="Indexed Pages" data-moreinfo="searchable by Google" style="background-color:#8e44ad"></div>
      <i class="icon-search icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_tweets" data-view="Number" data-title="Tweets" style="background-color:#3498db;"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_followers" data-view="Number" data-title="Twitter Followers" style="background-color:#3498db;"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="site_news" data-view="News" data-title="PPPL News" data-interval="15" style="background-color:#27ae60"></div>
      <i class="icon-rss icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="blog" data-view="News" data-title="PPPL Blog" data-interval="7" style="background-color:#d35400;"></div>
      <i class="icon-rss icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="facebook_likes" data-view="Number" data-title="Facebook Likes" style="background-color:#2980b9"></div>
      <i class="icon-facebook icon-background"></i>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1" max-size-y="1">
      <div data-id="flickr" data-view="Slideshow" style="background-color:#2c3e50;"></div>
      <i class="icon-image icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
      <div data-id="visitor_count" data-view="Number" data-title="Visitors This Month" style="background-color:#e74c3c;"></div> 
      <i class="icon-globe icon-background"></i>
    </li>
  </ul>
</div>