<script type='text/javascript'>
$(function() {
  Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":3,"size_y":1},{"col":4,"row":1,"size_x":1,"size_y":1},{"col":4,"row":2,"size_x":1,"size_y":1},{"col":2,"row":2,"size_x":2,"size_y":1},{"col":1,"row":5,"size_x":1,"size_y":1},{"col":4,"row":3,"size_x":1,"size_y":1},{"col":3,"row":3,"size_x":1,"size_y":1},{"col":2,"row":3,"size_x":1,"size_y":1},{"col":4,"row":4,"size_x":1,"size_y":2},{"col":1,"row":3,"size_x":1,"size_y":2},{"col":2,"row":4,"size_x":1,"size_y":1},{"col":3,"row":4,"size_x":1,"size_y":1},{"col":2,"row":5,"size_x":2,"size_y":1},{"col":1,"row":2,"size_x":1,"size_y":1}]')
});
</script>     
<% content_for :title do %>My super sweet dashboard<% end %>
<div class="gridster">
  <ul>
    <li class="lead" data-row="1" data-col="1" data-sizex="3" data-sizey="1">
      <div data-id="lead" data-view="Text" data-title="PPPL Commuications Dashboard" data-text="An up-to-date, chewable panel of the numbers that matter and the words that resonate." style="background-color:#ff9618"></div>
      <img class="icon-background" src="/logo.png">
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="time" data-view="Clock" data-title="Time" style="background-color:#d35400"></div>
      <i class="icon-time icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_mentions" data-view="Comments" style="background-color:#3498db;" data-moreinfo="Tweets mentioning PPPL"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="twitter_profile" data-view="Comments" style="background-color:#c0392b;" data-moreinfo="Tweets from @pppl"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="pagerank" data-view="Meter" data-title="Page Rank" data-min="0" data-max="10"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="indexed_pages" data-view="Number" data-title="Indexed Pages" data-moreinfo="searchable by Google" style="background-color:#8e44ad"></div>
      <i class="icon-search icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_tweets" data-view="Number" data-title="Tweets" style="background-color:#3498db;"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="twitter_followers" data-view="Number" data-title="Twitter Followers" style="background-color:#3498db;"></div>
      <i class="icon-twitter icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="site_news" data-view="News" data-title="PPPL News" data-interval="30" style="background-color:#27ae60"></div>
      <i class="icon-rss icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="blog" data-view="News" data-title="PPPL Blog" data-interval="30" style="background-color:#27ae60;"></div>
      <i class="icon-rss icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="facebook_likes" data-view="Number" data-title="Facebook Likes" style="background-color:#2980b9"></div>
      <i class="icon-facebook icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="facebook_talking_about_count" data-view="Number" data-title="Talking About Us" style="background-color:#2980b9"></div>
      <i class="icon-facebook icon-background"></i>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1" max-size-y="1">
      <div data-id="flickr" data-view="Slideshow" style="background-color:#ff0084"></div>
      <i class="icon-image icon-background"></i>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1"> 
      <div data-id="visitor_count" data-view="Number" data-title="Visitors This Month" style="background-color:#e74c3c;"></div> 
      <i class="icon-globe icon-background"></i>
    </li>
  </ul>
</div>