// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #4b4b4b;

// ----------------------------------------------------------------------------
// Widget-image styles
// ----------------------------------------------------------------------------
.widget.widget-slideshow {
  background-color: $background-color;
  padding: 0;

  img {
	height: 360px;
  }

}

.teneightyp .widget.widget-slideshow img {
  height: 346px;
}